<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find cane_control)/config/cane_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/cane" args="joint_state_controller shoulder_position_controller "/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/cane/joint_states" />
  </node>
<!-- 
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="TRUE"/>
  </node> -->
  <node name="cane_brain" pkg="cane_control" type="cane_brain.py" respawn="false" output="screen"></node>

</launch>